<div class="container">
  <h1>Novo Pedido</h1>

  <div class="pedidos-container">
    <div class="cardapio-container">
      <h2>Cardápio</h2>
      <div *ngFor="let item of data" class="cardapio-item" (click)="adicionarItem(item)">
        <span>{{ item.nome }}</span>
        <span>R$ {{ item.preco | number: '1.2-2' }}</span>
      </div>
    </div>

    <div class="pedido-atual">
      <h2>Pedido Atual</h2>
      <div *ngFor="let pedidoItem of pedido" class="pedido-item">
        <span>{{ pedidoItem.item.nome }}</span>
        <span>R$ {{ (pedidoItem.item.preco * pedidoItem.quantidade) | number: '1.2-2' }}</span>
        <div class="quantity-controls">
          <button (click)="alterarQuantidade(pedidoItem.item.id, -1)">-</button>
          <input type="number" [value]="pedidoItem.quantidade" readonly />
          <button (click)="alterarQuantidade(pedidoItem.item.id, 1)">+</button>
          <button (click)="removerItem(pedidoItem.item)">X</button>
        </div>
      </div>

      <div *ngIf="pedido.length === 0">
        <span>Nenhum item adicionado</span>
      </div>
      <div *ngIf="pedido.length > 0">
        <span>Total: R$ {{ totalCompra() | number: '1.2-2' }}</span>
      </div>
    </div>
  </div>
</div>
